<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <style>
  </style>
</head>
<body>
  
  <h2>Admin Functions</h2>
  <ul>
    <li><a href="/admin/blogs">View Admin Blogs</a></li>
    <li><a href="/admin/blog">Upload Admin Blog</a></li>
    <li><a href="/admin/admin-home">Home</a></li>
    <li><a href="/admin/doctor-profile-requests">Doctor Profile Verification Requests</a></li>
    <li><a href="/admin/subscriptions">Doctor Subscription Verification Requests</a></li>
    <li><a href="/admin/insurances">Manage Insurance Providers</a></li>
    <li><a href="/admin/blogs-all">Search Blogs</a></li>
    <li><a href="/admin/view-doctors">View Doctors</a></li> 
    <li><a href="/admin/view-patients">View Patients</a></li>
    <li><a href="/admin/manage-payments">Manage Payments</a></li>
    <li><a href="/admin/bookings">View Bookings</a></li>
    <li><a href="/admin/insights">View Insights</a></li>
  </ul>

  <a href="/auth/logout">Logout</a>

</body>
</html>
