<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Corporate Signup</title>
</head>
<body>
  <h1>Corporate Signup</h1>
  <form action="/corporate/signup" method="POST">
    <label for="corporateName">Corporate Name:</label><br>
    <input type="text" id="corporateName" name="corporateName" required><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="mobileNumber">Corporate Mobile Number:</label><br>
    <input type="tel" id="mobileNumber" name="mobileNumber" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit">Sign Up</button>
  </form>
</body>
</html>
