<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://www.google.com/recaptcha/api.js?render=6LcxzvcpAAAAANyqhQDvt1dgS4XGQxOBFT0O9jV3"></script>
</head>
<body>
    <h1>Login</h1>
    <% if (success_msg) { %>
        <div class="alert alert-success"><%= success_msg %></div>
    <% } %>
    <% if (error_msg) { %>
        <div class="alert alert-danger"><%= error_msg %></div>
    <% } %>

    <form id="login-form" action="/auth/login" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
        <br/>
        <button type="submit">Login</button>
    </form>
    <a href="/auth/forgot-password">Forgot Password?</a> <!-- Link to Forgot Password page -->
    <a href="/auth/signup">Sign Up</a>
    

    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('6LcxzvcpAAAAANyqhQDvt1dgS4XGQxOBFT0O9jV3', { action: 'login' }).then(function(token) {
                document.getElementById('g-recaptcha-response').value = token;
            });
        });
    </script>
</body>
</html>
